@font-face {
	font-family: 'Resident Evil';
	font-style: normal;
	font-weight: normal;
	src: local('Resident Evil'), url('Resident Evil Large.woff') format('woff');
	}	

h1 {
	font-family: 'Resident Evil', sans-serif;
	font-weight: 10em;
	color: rgb(24, 82, 95);
}